main{
 
    text-align: center;
    max-width: 50%;
    min-width: 200px;
    margin:0 auto;
    border-radius: 3%;
    
}

/* ::placeholder{
    font-size: 18px;
    font-family: sans-serif;
    color:#919191;
    line-height: 25px;
 } */

h1{
   
    text-align: center;
    color: #3a3a3a;
    font-family: sans-serif;
}
small{
    padding-top: 2px;
    float: left;
    padding-bottom: 15px;
}
a{
    color:#5cb85c;
}

p{
    text-align: center;
    color: #5cb85c;
}

#button1{
   
    float: right;
   
   
}

#art1{
    height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    
} 
#your1{
    height: 200px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
form{
    margin-top: 5%;
}
#art2{
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}
#art3{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:40px;
}

