img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin:0 auto;
    margin-left: 50%;
  }
  button{
    
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin:0 auto;
    margin-left: 100%;
position: fixed;
  }
  main{
 
    text-align: center;
    max-width: 40%;
    min-width: 200px;
    /* margin:0 auto; */

    
}
#error1{
padding-top: 15%;
}

#error{
  color:#5cb85c;
  text-align: center;
}
