<div class="article-preview" *ngFor="let search of searcharr|keyvalue">
    <div class="article-meta">
        <a href="Username">
                <img src={{search.value.url}}>
        </a>
        
        <div class="info">
            <a class="author" href="/profile/username"> {{search.value.username}} </a>
            <span class="date"> November 2, 2019 </span>

        </div>
        <div id="app-favorite-button" class="pull-xs-right">
                
                        <!-- <button type="button" class="btn btn-default btn-sm" id="like" (click)="myClickFunction($event,'112',post._id)">
                          <span class="glyphicon glyphicon-thumbs-up"></span> Like 
                        </button>
                       -->
            </div>
            <div>
                <h3>{{search.value.title}}</h3>
            </div>
            <div>
                <h6>
                    {{search.value.post}}
                </h6>
            </div>
            <span id="attachment" >
                <img src={{search.value.image_url}} class="img-responsive" >
                
            </span> 
            <hr>
</div>    
   
 </div>

