<div *ngIf="searcharr.length==0; else elseBlock" >
    <div id="img2" style="text-align: center;">
    <img id="img1" src="../../../../assets/images/images (1) (1).png">
        <h5>Result not found</h5>
        <h6>Try with some diiferent keyword</h6>
    </div>
    </div>
    <ng-template #elseBlock>
        <!-- <div class="article-preview" *ngFor="let search of searcharr|keyvalue">
            <div class="article-meta">
                <a href="Username">
                        <img src={{search.value.url}} onerror="this.src='../../../../assets/images/smiley-cyrus.jpg'">
                </a>
                
                <div class="info">
                    <a class="author" href="/profile/username"> {{search.value.username}} </a>
                    <span class="date"> November 2, 2019 </span>
        
                </div>
                <div id="app-favorite-button" class="pull-xs-right"> -->
                        
                                <!-- <button type="button" class="btn btn-default btn-sm" id="like" (click)="myClickFunction($event,'112',post._id)">
                                  <span class="glyphicon glyphicon-thumbs-up"></span> Like 
                                </button>
                               -->
                    <!-- </div>
                    <div>
                        <h3>{{search.value.title}}</h3>
                    </div>
                    <div>
                        <h6 [innerHTML]="search.value.post">
                            
                        </h6>
                    </div>
                    <span id="attachment" >
                        <img src={{search.value.image_url}} class="img-responsive" onerror="this.src='assets/images/smiley-cyrus.jpg'" >
                        
                    </span> 
                    <hr>
        </div>    
           
         </div> -->
         <div class="container" *ngFor="let search of searcharr|keyvalue" >
            <div class="blog-card">
                <!-- <div class="photo" [ngStyle]="{background: url(post.url)}"></div> -->
                <div class="photo">
                    <img class="photo" src={{search.value.image_url}} onerror="this.src='assets/images/smiley-cyrus.jpg'">
                </div>
                <ul class="details">
                    <li class="author">Autor: {{search.value.username}}</li>
                    <li class="date">Data: {{search.value.date}}</li>
                    <li class="tags" >
                    <ul>
                        <li>{{search.value.tags}}</li>
                        
                    </ul>
                    </li>
                </ul>
               
                <div class="description">
                    <img src={{search.value.url}} onerror="this.src='assets/images/smiley-cyrus.jpg'"> 
                    <h3 style="display: inline;" >{{search.value.username}}</h3>
                    
                    <h2>{{search.value.title}} <span id="dot" *ngIf="search.value.__v!=0">
                        <span class="dot" title="Edited"></span>
                    </span></h2>
                    <p class="summary"[innerHTML]="search.value.post"></p>
                    
                    <a (click)="route(search.value._id)">Read more</a>
                   
                           
                </div>
                
                
             
            </div>
            
        
            
        </div>
    </ng-template>
    
    