<router-outlet></router-outlet>
<div class="article-preview" *ngFor="let post of posts">
    <div class="article-meta">
        <a href="Username">
            <img src={{post.url}} onerror="this.src='assets/images/smiley-cyrus.jpg'">
        </a>

        <div class="info">
            <a class="author" href="/profile/Username"> {{post.username}}</a>
            <span class="date"> {{post.date}} </span>
        </div>

        <div id="app-favorite-button" class="pull-xs-right">
                <a (click)="editarticle(post._id)" id="edit-icon">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      &nbsp;

            <button type="button" (click)="deletearticle(post._id)" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>


            <!-- <button type="button" class="btn btn-default btn-sm" id="like">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
            </button>
            
 -->
        </div>
        <div>
            <a (click)="route(post._id)"><h3>{{post.title}}</h3></a>
        </div>
        <div>
            <h6 [innerHTML]="post.post">
                
            </h6>
        </div>
        <span id="attachment" >
            <img src={{post.image_url}} onerror="this.src='assets/images/smiley-cyrus.jpg'" class="img-responsive" >
            
        </span> 
        <hr>
</div>
</div>
