
.yourfeed{
    padding-left:10%;
    padding-right:10%;
    padding-top:1%;
    padding-bottom:1%;
}

.article-preview {
   
    padding: 1.5rem 0;
    padding-left: 10%;
    padding-right: 35%;
    
}
.article-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}
.article-meta img {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    width: 42px;
    border-radius: 30px;
}
.article-meta .info .date {
    color: #bbb;
    font-size: 11px;
    display: block;
}
.article-meta .info .author {
    display: block;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 8%;
}
a {
    color: #5cb85c;
    text-decoration: none;
}
.article-meta {
    display: block;
    position: relative;
    font-weight: 300;
}
/* .ion-heart:before {
    content: "\f141";
} */
.pull-xs-right {
    float: right!important;
}


/* #like :hover{
    color:#5cb85c;
    background-color: white;
} */

h3{
    font-family: sans-serif
}
h6{
    font-family: sans-serif
}

#edit-icon{
    color:grey;
    height: 8px;
}
#edit-icon:hover{
    color:black;
}
#attachment img{

    width:120px;
    height:120px; 

}