<div class="banner">
    <div class="container">
        <h1>{{post.title}} </h1>
        <!-- <span id="dot" *ngIf="post[__v]!=0">
                <span class="dot" title="Edited"></span>
            </span> -->
        <div class="article-meta">
            <a href="Username">
                <img src={{post.url}} onerror="this.src='assets/images/smiley-cyrus.jpg'">
            </a>

            <div class="info">
                <a class="author" href="/profile/username"> {{post.username}} </a>
                <span class="date"> {{post.date}} </span>

            </div>
        </div>
    </div>
</div>
<div class="article-body">
    <div class="container">
        <h4 [innerHTML]="post.post"></h4>
        <span id="attachment">
            <img src={{post.image_url}} id="img" class="img-responsive"
                onerror="this.src='assets/images/smiley-cyrus.jpg'">

        </span>
    </div>

    <br>
    <hr>
    <div class="container">


        <div class="row bootstrap snippets">
            <div>
                <div class="comment-wrapper">
                    <div class="panel panel-info">

                        <div class="panel-body">
                            <textarea class="form-control" placeholder="write a comment..." rows="4"
                                [(ngModel)]="comment"></textarea>
                            <br>
                            <button type="button" class="btn btn-success pull-right"
                                (click)="PostComment(post._id,comment)">Post Comment</button>
                            <div class="clearfix"></div>
                            <hr>
                            <div *ngFor="let c of post.comment">
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src={{c.url}} onerror="this.src='assets/images/smiley-cyrus.jpg'"
                                                alt="" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">{{c.date}}</small>
                                            </span>
                                            <strong class="text-success">{{c.username}}</strong>
                                            <p>
                                                {{c.post}}
                                            </p>

                                            <!--for Reply-->
                                            <span id="comment-icon" class="glyphicon glyphicon-comment"
                                                (click)="load(c.date)"></span><br>
                                        </div>
                                    </li>
                                </ul>

                                <div class="reply" *ngIf="c.date==date1">
                                    
                                    <!--Reply content-->

                                    
                                    <div *ngFor="let r of c.replies">
                                        
                                        
                                            
                                            <ul class="media-list">
                                                <li class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src={{r.url}} onerror="this.src='assets/images/smiley-cyrus.jpg'"
                                                            alt="" class="img-circle">
                                                    </a>
                                                    <div class="media-body2">

                                                        <strong class="text-success">{{r.username}}</strong>
                                                        <p>
                                                            {{r.post}}
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        
                                    </div>

                                    <!--Reply content-->
                                    <textarea class="form-control" placeholder="write a comment..." rows="4"
                                        [(ngModel)]="reply"></textarea>
                                    <br>
                                    <button type="button" class="btn btn-success pull-right"
                                        (click)="PostReply(c.date,reply,post._id)">Reply</button>
                                    <div class="clearfix"></div>
                                    <hr>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>