.banner{
    color: #fff;
    background: #333;
    padding: 2rem;
    margin-bottom: 2rem;
}

.article-meta .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}
.article-meta img {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    width: 42px;
    border-radius: 30px;
}
.article-meta .info .date {
    color: #bbb;
    font-size: 11px;
    display: block;
}
.article-meta .info .author {
    display: block;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 8%;
}
a {
    color: #5cb85c;
    text-decoration: none;
}
.article-meta {
    display: block;
    position: relative;
    font-weight: 300;
}
/* .ion-heart:before {
    content: "\f141";
} */
.pull-xs-right {
    float: right!important;
}


/* #like :hover{
    color:#5cb85c;
    background-color: white;
} */

h3{
    font-family: sans-serif
}
h6{
    font-family: sans-serif
}


.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid #e5e5e5;
    box-shadow: none!important;
}

.container.page {
    margin-top: 1.5rem;
}

/* @media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 544px)
.container {
    max-width: 576px;
} */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.article-body .container{
    padding-left: 10%;
    padding-right: 10%;

}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.125);
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
    
#attachment img{

    width:120px;
    height:120px; 
    

}
.dot {
    height: 10px;
    width: 10px;
    background-color: #5cb85c;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
    cursor: pointer;
  }

  #img:hover{
    transform: scale(5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    
   
  }

  #comment-icon{
    color: gray;
    cursor: pointer;
    float: right;
}

#comment-icon:hover{
    color:black;
}

.reply{
    margin-left: 10%;
}

  