<div class="article-preview" *ngFor="let post of posts">
        <div class="article-meta">
            <a href="Username">
                <img src={{post.url}}>
            </a>
    
            <div class="info">
                <a class="author" href="/profile/Username"> {{post.username}}</a>
                <span class="date"> {{post.date}} </span>
            </div>
    
            <div id="app-favorite-button" class="pull-xs-right">
    
                <!-- <button type="button" class="btn btn-default btn-sm" id="like">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                </button>
     -->
            </div>
            <div>
                <a (click)="route(post._id)"><h3>{{post.title}}</h3></a>
            </div>
            <div>
                <h6 [innerHTML]="post.post">
                    
                </h6>
            </div>
            <span id="attachment" style="margin: 0px; display: inline;">
                <img src={{post.image_url}} class="img-responsive" >
                
            </span> 
            <hr>
    </div>
</div>