
<div class="container-fluid">
    <main>
<div>
    <h1>New Article</h1>
  
</div>
  <div>

     
    <form [formGroup]="articleForm" (ngSubmit)="onArticle(articleForm.value)">
        
       
          
      <div class="form-group">
        <input 
          formControlName="articleAbout" type="text" class="form-control form-control-lg" placeholder="Ariticle About" >
       
       

      </div>
      <div class="form-group">
        <input
          formControlName="yourArticle" type="text" class="form-control form-control-lg" placeholder="Your Article" >
     

      </div>
      <div class="form-group">
        <input 
          formControlName="articleTitle" type="text" class="form-control form-control-lg" placeholder="Ariticle Title" >
        
      

      </div>
     
      <div>
        <button class="btn btn-lg btn btn-success" type="submit"  id="button1" >Post</button>
      </div>
       
    </form>
  </div>
  </main>
</div>
