<!-- <div *ngFor="let posts of posts">
<h3>{{posts.title}}</h3>
<p>{{posts.post[0]}}</p>
</div> -->
<!-- <div>

    <button (click)="likeButtonClick()">Like</button>
    <p class="btn-test">{{numberoflikes }}</p>
</div> -->


<div class="article-preview" *ngFor="let post of posts">
        <div class="article-meta">
            <a href="Username">
                    <img src="assets/images/smiley-cyrus.jpg">
            </a>
            
            <div class="info">
                <a class="author" href="/profile/username"> {{post.username}} </a>
                <span class="date"> {{post.date}} </span>
    
            </div>
            <div id="app-favorite-button" class="pull-xs-right">
                    
                            <button type="button" class="btn btn-default btn-sm" id="like" (click)="myClickFunction($event,post._id)">
                              <span class="glyphicon glyphicon-thumbs-up"></span> Like ({{post.likes.length}})
                            </button>
                          
                </div>
                <div>
                    <a (click)="route(post._id)"><h3>{{post.title}}</h3></a>
                </div>
                <div>
                    <h6>
                        {{post.post}}
                    </h6>
                </div>
                <hr>
    </div>    
       
     </div>
   