<div class="tags1">
        
       
    <h4>Recent Tags</h4>

    
    
    <div class="tags" *ngFor="let tag of tags;" >

        <span class="badge" id="btn" (click)="click(tag)">{{tag}}</span>

    </div>
    <div style="clear: both; padding-top: 6px;">  

    <div class="tags " id="poptag" style="float: left;">
            <h4>Popular Tags</h4>
            <span class="badge" id="btn" (click)="click('spring')">spring</span>
            <span class="badge" id="btn" (click)="click('angular')">angular</span>
            <span class="badge" id="btn" (click)="click('node')">node</span>
            <span class="badge" id="btn" (click)="click('aws')">aws</span>
            <span class="badge" id="btn" (click)="click('java')">java</span>
            <span class="badge" id="btn" (click)="click('mongodb')">mongodb</span>
            <span class="badge" id="btn" (click)="click('mysql')">mysql</span>
            <span class="badge" id="btn" (click)="click('mlab')">mlab</span>
            <span class="badge" id="btn" (click)="click('heroku')">heroku</span>
            <span class="badge" id="btn" (click)="click('react')">react</span>
            <span class="badge" id="btn" (click)="click('zipkin')">zipkin</span>
            <span class="badge" id="btn" (click)="click('rabbitmq')">rabbitmq</span>
            <span class="badge" id="btn" (click)="click('html')">html</span>
            <span class="badge" id="btn" (click)="click('css')">css</span>
            <span class="badge" id="btn" (click)="click('bootstrap')">bootstrap</span>
            <span class="badge" id="btn" (click)="click('ibmcloud')">ibmcloud</span>
        </div>
    </div>
 
    

</div>