.tags1{
    float: right;
    margin-right: 10%;
    
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px;
    
    

}
.blog-card {
    position: relative;
  
}
#btn{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tags1 {float: none;
    width: 100%;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 700px) {
    .tags1 {float: none;
        width: 100%;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 800px) {
    .tags1 {float: none;
        }
  } 
  

  /* Large devices (laptops/desktops, 992px and up) */
  /* @media only screen and (min-width: 992px) {
    .tags1 {float: none;
        width: 100%;}

  }  */
  
  .tags{
      float: left;
      width: 20%;
      height: 100%;

  }

  .badge{
      /* margin: 0; */
      /* padding: 0; */
      float: left;
  }
  
  
  



