<div class="tags1">
   
        <span class="label label-default" (click)="click('spring')"  >spring</span><br>
        <span class="label label-default" (click)="click('angular')" >angular</span>
        <span class="label label-default" (click)="click('node')">node</span>
        <span class="label label-default" (click)="click('aws')">aws</span><br>
        <span class="label label-default" (click)="click('java')">java</span>
        <span class="label label-default" (click)="click('mongodb')">mongodb</span>
        <span class="label label-default" (click)="click('mysql')">mysql</span><br>
        <span class="label label-default" (click)="click('mlab')">mlab</span>
    </div>